<div class="mat-elevation-z8">
    <table mat-table [dataSource]="usersInfo" class="mat-table" multiTemplateDataRows>
  
      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let record" [attr.colspan]="record.details ? 1 : 2">
          <button mat-button (click)="expandedElement = expandedElement === record ? null : record">
            {{ record.title }}
          </button>
        </td>
      </ng-container>
  
      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let record">{{ record.description }}</td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="['title', 'description']"></tr>
      <tr mat-row *matRowDef="let record; columns: ['title', 'description'];"></tr>
  
      <tr mat-row *matRowDef="let record; columns: ['expandedDetail']" class="example-detail-row">
        <td mat-cell *matCellDef="let record" [attr.colspan]="2">
          <div class="example-element-detail" *ngIf="expandedElement === record">
            <p><strong>Details:</strong> {{ record.details }}</p>
          </div>
        </td>
      </tr>
    </table>
  </div>