.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e1e1e; /* Darker background for consistency */
    color: #f2c064; /* Use the same gold color */
    padding: 15px 20px; /* Padding adjustment for a neater look */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Shadow for depth */
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-links {
    display: flex;
}

.navbar-link {
    color: #f2c064; /* Match the gold theme */
    transition: color 0.3s ease; /* Smooth transition for hover effect */
}

.navbar-link:hover {
    color: #fff; /* Change color on hover for better visibility */
}

.menu-button {
    display: none;
}

mat-sidenav-container {
    height: calc(100vh - 64px);
}

@media (max-width: 768px) {
    .navbar-links {
        display: none;
    }

    .menu-button {
        display: block;
    }
}

/* RTL specific styles */
[dir="rtl"] .navbar {
    flex-direction: row-reverse;
}

[dir="rtl"] .navbar-links {
    flex-direction: row-reverse;
}
