@import '@angular/material/prebuilt-themes/indigo-pink.css';

body {
    /* font-family: 'Cairo', sans-serif; */
    font-family: Roboto, "Helvetica Neue", sans-serif;

    margin: 0;
    padding: 0;
    /* direction: rtl; */
}
.mat-typography {
    font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
}
html, body {
    height: 100%;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    }
    ::-webkit-scrollbar-track { background: #f1f1f1; }
    ::-webkit-scrollbar-thumb { background: #F2C064; }
    ::-webkit-scrollbar-thumb:hover { background: #f0b341; }
    
::-webkit-scrollbar:horizontal{
    height: 12px;
}
.mdc-floating-label {
    color: #f1f1f1 !important;
}

.mat-mdc-notch-piece  {
    border-color: #f1f1f1 !important;
    color: #f1f1f1 !important;
}
.mdc-text-field--focused {
    color: #f1f1f1 !important;

}
.mdc-text-field__input {
    color: #f1f1f1 !important;
}

.mat-mdc-radio-button .mat-internal-form-field {
    color: #f1f1f1 !important;
}
.mat-mdc-radio-button.mat-accent {
    --mdc-radio-disabled-selected-icon-color: white;
    --mdc-radio-disabled-unselected-icon-color: white;
    --mdc-radio-unselected-hover-icon-color: #f1f1f1;
    --mdc-radio-unselected-icon-color: #f1f1f1;
    --mdc-radio-unselected-pressed-icon-color: #f1f1f1;
    --mdc-radio-selected-focus-icon-color: #F2C064;
    --mdc-radio-selected-hover-icon-color: #f0b341;
    --mdc-radio-selected-icon-color: #F2C064;
    --mdc-radio-selected-pressed-icon-color: #F2C064;
    --mat-radio-ripple-color: white;
    --mat-radio-checked-ripple-color: #F2C064;
    --mat-radio-disabled-label-color:#f1f1f1;
    --mat-radio-label-text-color: #f1f1f1;
}

/* Mat Card */
.mat-mdc-card {
    background-color: none !important;
    --mdc-elevated-card-container-color: none !important;
    color: #f1f1f1 !important;
}
.mat-mdc-card-title, .mat-mdc-card-subtitle {
    display: block;
    padding: 0px 17px !important;
    font-weight: bold;
}
.mat-mdc-card-content {
    display: block;
    padding: 15px 35px !important;
    color: #f1f1f1 !important;
    background-color: none !important;
}
mat-card {
    max-width: 400px;
    margin: 100px auto;
    background-color: none !important;

}
.container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    max-height: 900px;
    height: 100vh;
}
/* Mulitple Select*/
.mat-mdc-select-value-text {
    color: white !important;
}
/* Date Picker */
mat-datepicker-toggle {
    color: white !important;
}

/*  */

.mat-header-cell {
    background-color: #2A2A2A; /* Dark header background */
    color: #F2C064; /* Gold color for header text */
    font-weight: bold; /* Bold text for headers */
  }
  
  .mat-cell {
    padding: 12px; /* Padding for table cells */
    background-color: #2A2A2A; /* Dark header background */

  }
  
  .element-row:hover {
    background-color: #3A3A3A; /* Highlight row on hover */
  }
  
  .detail-row {
    transition: height 0.3s; /* Smooth transition for expanded rows */
    background-color: #2A2A2A !important; /* Dark header background */

  }
  
  .example-expanded-row {
    background-color: #282828; /* Darker color for expanded rows */
  }
@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    mat-card {
        width: 100%;
    }
}

